<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
    </div>
    <div class="row m-0 p-0" style="color: #121213;">
        <div class="col-md-4 p-0 p-md-1">
            <h5 class="text-light mb-0"><a href="https://www.thesparksfoundationsingapore.org/" style="color: rgb(32, 207, 238) ">https://www.thesparksfoundationsingapore.org/</a>

            </h5>
            <h5 class=" text-light mb-0">Privacy Policy</h5>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-light">&copy;2021 All Rights Reserved</span></div>
    </div>
    <div class="row m-0" style="color: #846b70;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;">Made and Developed By &#64;Shivansh Sharma</span>
        </div>
    </div>
</footer>
